<aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <img src="/images/flame.png" alt="Workflow" style="color: white;"/>
        <h2>SAS</h2>
    </div>
    <div class="close-button">
      <i class="fa-solid fa-times" onclick="closeSidebar()"></i>
    </div>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item"><i class="fas fa-home"></i><a href="/">Dashboard</a></li>
      <li class="sidebar-list-item"><i class="fas fa-book"></i><a href="/modules">Modules</a></li>
      <li class="sidebar-list-item"><i class="fas fa-graduation-cap"></i><a href="/programs">Programs</a></li>
      <li class="sidebar-list-item"><i class="fas fa-graduation-cap"></i><a href="/departments">Departments</a></li>
      <li class="sidebar-list-item"><i class="fas fa-users"></i><a href="/students">Students</a></li>
      <li class="sidebar-list-item"><i class="fas fa-users"></i><a href="/grades">Grades</a></li>
      <li class="sidebar-list-item"><i class="fas fa-chalkboard-teacher"></i><a href="/lecturers">Lecturers</a></li>
    </ul>
  </aside>