<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="search">
      <i class="fa-solid fa-search"></i>
      <input type="text" placeholder="Search" />
    </div>
    
    <div class="header-right">
      <div class="profile">
        <div class="send-mail" style="margin-right: 20px;">
          <a href="/send-mail" class="button">Send Mail</a>
        </div>
        <i class="fa-regular fa-bell"></i>
        <img src="/images/1.jpg" alt="Workflow" />
    </div>
    </div>
  </header>