<section id="nav">
    <div class="logo">
        <img src="/images/flame.png" alt="Workflow" style="color: white;"/>
        <h2>Workflow</h2>
    </div>
    <div class="menu-items">
        <li><i class="fa-solid fa-house"></i><a href="#">Dashboard</a></li>
        <li><i class="fa-solid fa-users"></i><a href="#">Team</a></li>
        <li><i class="fa-regular fa-folder"></i><a href="#">Projects</a></li>
        <li><i class="fa-regular fa-calendar"></i><a href="#">Calendar</a></li>
        <li><i class="fa-regular fa-envelope"></i><a href="#">Documents</a></li>
        <li><i class="fa-solid fa-chart-column"></i><a href="#">Reports</a></li>
    </div>
</section>