<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <%- include("./partials/header") %>
      <!-- End Header -->

      <!-- Sidebar -->
      <%- include("./partials/aside") %>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>Dashboard</h2>
        </div>

        <div class="main-cards">
            <div class="card">
              <div class="card-inner">
                <h3>PROGRAMS</h3>
                <i class="fas fa-graduation-cap"></i> <!-- Updated icon for Programs -->
              </div>
              <h1>250</h1> <!-- Number of programs in your system -->
            </div>
          
            <div class="card">
              <div class="card-inner">
                <h3>DEPARTMENTS</h3>
                <i class="fas fa-building"></i> <!-- Updated icon for Departments -->
              </div>
              <h1>15</h1> <!-- Number of departments -->
            </div>
          
            <div class="card">
              <div class="card-inner">
                <h3>STUDENTS</h3>
                <i class="fas fa-user-graduate"></i> <!-- Updated icon for Students -->
              </div>
              <h1>500</h1> <!-- Number of registered students in your system -->
            </div>
          
            <div class="card">
              <div class="card-inner">
                <h3>MODULES</h3>
                <i class="fas fa-file-alt"></i> <!-- Updated icon for Evaluation Forms -->
              </div>
              <h1>20</h1> <!-- Number of evaluation forms to be displayed -->
            </div>
          </div>
          
      
        <div class="charts">
          <div class="charts-card">
            <h2 class="chart-title">Most Popular Programs</h2>
            <canvas id="barChart" ></canvas>
          </div>
          <div class="charts-card">
            <h2 class="chart-title">Top Performing Students</h2>
            <canvas id="lineChart"></canvas>
          </div>
        </div>     
      </main>
      <!-- End Main -->

    </div>
    <script src="/js/scripts.js"></script>

  </body>
</html>